*{
    padding: 0;
    margin: 0;
}


.myMargin {
    margin: 25px;
    text-align: center;
}



.card {
    left: 2em;
    top: 2em;
    right: 2em;
    }
    
    #password-strength {
        height: 5px;
        width: 100%;
        display: block;
        background-color: #ccc;
      }
      #password-strength span {
        display: block;
        height: 5px;
        border-radius: 2px;
        transition: all 500ms ease;
      }

      #passwordid {
        width: 250px;
      }
      #passwordid label {
        display: block;
      }
      #password-input {
        width: 230px;
        padding: 10px;
        margin: 10px 0 5px 0;
      }

    .strength-0 span {
        background-color: red;
        width: 5%;
      }
      .strength-1 span {
        background-color: orangered;
        width: 25%;
      }
      .strength-2 span {
        background-color: orange;
        width: 50%;
      }
      .strength-3 span {
        background-color: yellowgreen;
        width: 75%;
      }
      .strength-4 span {
        background-color: green;
        width: 100%;
      }